.section__div {

    margin: 20px;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}


.section__div img { 
    
    margin-top: 15px;
    width: 200px;
    height: 200px;

}

.section__div button {

    margin-top: 15px;
    margin-bottom: 15px;
}